table {
    border-collapse: collapse;
    width: 100%;
}

h1 {
    text-align: center;
}

input {
    display: flex;
    width: 300px;              
    height: 40px;  
    margin: 0 auto;           
    padding: 10px;             
    font-size: 18px;           
    border: 1px solid #ccc; 
  }

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    cursor: pointer;
    background-color: #e62a2a;
}
th:hover {
    background-color: #ddd;
}
#searchBar {
    margin-bottom: 20px;
}